In [2]:
import pandas as pd
import numpy as np

In [4]:
#2019
df1901=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_01.csv', encoding='cp949')
df1902=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_02.csv', encoding='cp949')
df1903=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_03.csv', encoding='cp949')
df1904=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_04.csv', encoding='cp949')
df1905=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_05.csv', encoding='cp949')
df1906_1=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_06_1.csv', encoding='cp949')
df1906_2=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_06_2.csv', encoding='cp949')
df1906_3=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_06_3.csv', encoding='cp949')
df1907_1=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_07_1.csv', encoding='cp949')
df1907_2=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_07_2.csv', encoding='cp949')
df1907_3=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_07_3.csv', encoding='cp949')
df1908_1=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_08_1.csv', encoding='cp949')
df1908_2=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_08_2.csv', encoding='cp949')
df1908_3=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_08_3.csv', encoding='cp949')
df1909_1=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_09_1.csv', encoding='cp949')
df1909_2=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_09_2.csv', encoding='cp949')
df1909_3=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_09_3.csv', encoding='cp949')
df1910_1=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_10_1.csv', encoding='cp949')
df1910_2=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_10_2.csv', encoding='cp949')
df1910_3=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_10_3.csv', encoding='cp949')
df1911_1=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_11_1.csv', encoding='cp949')
df1911_2=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_11_2.csv', encoding='cp949')
df1912=pd.read_csv('./반납대수 전처리데이터/반납대수_2019_12.csv', encoding='cp949')

In [5]:
반납수_2019 = pd.concat([df1901,df1902,df1903,df1904,df1905,df1906_1,df1906_2,df1906_3,df1907_1,df1907_2,df1907_3,df1908_1,df1908_2,df1908_3,df1909_1,df1909_2,df1909_3,df1910_1,df1910_2,df1910_3,df1911_1,df1911_2,df1912])
반납수_2019

     자치구    반납일시_day  반납수
0    강남구  2019-01-01  304
1    강남구  2019-01-02  582
2    강남구  2019-01-03  627
3    강남구  2019-01-04  633
4    강남구  2019-01-05  439
..   ...         ...  ...
793  중랑구  2019-12-28  737
794  중랑구  2019-12-29  552
795  중랑구  2019-12-30  585
796  중랑구  2019-12-31  474
797  중랑구  2020-01-01    2

[11190 rows x 3 columns]

In [8]:
#2020
df201=pd.read_csv('./반납대수 전처리데이터/반납대수_2020_1.csv', encoding='cp949')
df2002=pd.read_csv('./반납대수 전처리데이터/반납대수_2020_2.csv', encoding='cp949')
df2003=pd.read_csv('./반납대수 전처리데이터/반납대수_2020_3.csv', encoding='cp949')
df2004=pd.read_csv('./반납대수 전처리데이터/반납대수_2020_4.csv', encoding='cp949')
df2005=pd.read_csv('./반납대수 전처리데이터/반납대수_2020_5.csv', encoding='cp949')
df2006=pd.read_csv('./반납대수 전처리데이터/반납대수_2020_6.csv', encoding='cp949')
df20078=pd.read_csv('./반납대수 전처리데이터/반납대수_2020_7_8.csv', encoding='cp949')
df2009=pd.read_csv('./반납대수 전처리데이터/반납대수_2020_9.csv', encoding='cp949')
df2010=pd.read_csv('./반납대수 전처리데이터/반납대수_2020_10.csv', encoding='cp949')
df2011=pd.read_csv('./반납대수 전처리데이터/반납대수_2020_11.csv', encoding='cp949')
df2012=pd.read_csv('./반납대수 전처리데이터/반납대수_2020_12.csv', encoding='cp949')

In [9]:
반납수_2020 = pd.concat([df201,df2002,df2003,df2004,df2005,df2006,df20078,df2009,df2010,df2011,df2012])
반납수_2020

     자치구    반납일시_day   반납수
0    강남구  2020-01-01   498
1    강남구  2020-01-02   967
2    강남구  2020-01-03  1078
3    강남구  2020-01-04   904
4    강남구  2020-01-05   751
..   ...         ...   ...
795  중랑구  2020-12-28  1223
796  중랑구  2020-12-29  1050
797  중랑구  2020-12-30   594
798  중랑구  2020-12-31   661
799  중랑구  2021-01-01     4

[9325 rows x 3 columns]

In [10]:
#2021
df2101=pd.read_csv('./반납대수 전처리데이터/반납대수_2021_1.csv', encoding='cp949')
df2102=pd.read_csv('./반납대수 전처리데이터/반납대수_2021_2.csv', encoding='cp949')
df2103=pd.read_csv('./반납대수 전처리데이터/반납대수_2021_3.csv', encoding='cp949')
df2104=pd.read_csv('./반납대수 전처리데이터/반납대수_2021_4.csv', encoding='cp949')
df2105=pd.read_csv('./반납대수 전처리데이터/반납대수_2021_5.csv', encoding='cp949')
df2106=pd.read_csv('./반납대수 전처리데이터/반납대수_2021_6.csv', encoding='cp949')

In [11]:
반납수_2021 = pd.concat([df2101,df2102,df2103,df2104,df2105,df2106])
반납수_2021

     자치구    반납일시_day   반납수
0    강남구  2021-01-01   692
1    강남구  2021-01-02   716
2    강남구  2021-01-03   650
3    강남구  2021-01-04   996
4    강남구  2021-01-05   937
..   ...         ...   ...
770  중랑구  2021-06-27  2773
771  중랑구  2021-06-28  2841
772  중랑구  2021-06-29  2740
773  중랑구  2021-06-30  3158
774  중랑구  2021-07-01    75

[4575 rows x 3 columns]

In [12]:
반납수 = pd.concat([반납수_2019, 반납수_2020, 반납수_2021])
반납수

     자치구    반납일시_day   반납수
0    강남구  2019-01-01   304
1    강남구  2019-01-02   582
2    강남구  2019-01-03   627
3    강남구  2019-01-04   633
4    강남구  2019-01-05   439
..   ...         ...   ...
770  중랑구  2021-06-27  2773
771  중랑구  2021-06-28  2841
772  중랑구  2021-06-29  2740
773  중랑구  2021-06-30  3158
774  중랑구  2021-07-01    75

[25090 rows x 3 columns]

In [13]:
grouped = 반납수['반납수'].groupby([반납수['자치구'],반납수['반납일시_day']]).sum()
grouped

자치구  반납일시_day
강남구  2019-01-01     304
     2019-01-02     582
     2019-01-03     627
     2019-01-04     633
     2019-01-05     439
                   ...
중랑구  2021-06-27    2773
     2021-06-28    2841
     2021-06-29    2740
     2021-06-30    3158
     2021-07-01      75
Name: 반납수, Length: 22800, dtype: int64

In [14]:
grouped.to_csv('./반납수.csv', sep=',',encoding='cp949')

In [23]:
반납수=pd.read_csv('./반납수.csv', encoding='cp949')
반납수=반납수.rename(columns={'반납일시_day':'일시_day'})

In [24]:
대여수=pd.read_csv('./대여수.csv', encoding='cp949')
대여수=대여수.rename(columns={'대여일시_day':'일시_day'})

# 대여 반납 데이터 합치기

In [25]:
table=pd.merge(대여수,반납수,how='inner',on=['자치구','일시_day'])
table

       자치구      일시_day   대여수   반납수
0      강남구  2019-01-01   322   304
1      강남구  2019-01-02   602   582
2      강남구  2019-01-03   669   627
3      강남구  2019-01-04   658   633
4      강남구  2019-01-05   458   439
...    ...         ...   ...   ...
22770  중랑구  2021-06-26  2857  2871
22771  중랑구  2021-06-27  2760  2773
22772  중랑구  2021-06-28  2679  2841
22773  중랑구  2021-06-29  2646  2740
22774  중랑구  2021-06-30  3006  3158

[22775 rows x 4 columns]

In [33]:
table['반납/대여']=table['반납수']/table['대여수']

In [34]:
table

       자치구      일시_day   대여수   반납수     반납/대여
0      강남구  2019-01-01   322   304  0.944099
1      강남구  2019-01-02   602   582  0.966777
2      강남구  2019-01-03   669   627  0.937220
3      강남구  2019-01-04   658   633  0.962006
4      강남구  2019-01-05   458   439  0.958515
...    ...         ...   ...   ...       ...
22770  중랑구  2021-06-26  2857  2871  1.004900
22771  중랑구  2021-06-27  2760  2773  1.004710
22772  중랑구  2021-06-28  2679  2841  1.060470
22773  중랑구  2021-06-29  2646  2740  1.035525
22774  중랑구  2021-06-30  3006  3158  1.050566

[22775 rows x 5 columns]

In [36]:
table_simple=table.drop(['일시_day','대여수','반납수'],1)

## 반납/대여 분산 계산한 열 추가

In [42]:
grouped=pd.DataFrame(table_simple['반납/대여'].groupby(table_simple['자치구']).var())

In [45]:
grouped=grouped.rename(columns={'반납/대여':'반납/대여_var'})

In [46]:
grouped

      반납/대여_var
자치구
강남구    0.002023
강동구    0.000845
강북구    0.001042
강서구    0.000374
관악구    0.000981
광진구    0.000501
구로구    0.000782
금천구    0.001819
노원구    0.000388
도봉구    0.001738
동대문구   0.001339
동작구    0.002518
마포구    0.001324
서대문구   0.002632
서초구    0.000951
성동구    0.001918
성북구    0.001441
송파구    0.000259
양천구    0.000908
영등포구   0.001249
용산구    0.001575
은평구    0.001487
종로구    0.001715
중구     0.002663
중랑구    0.001417

In [49]:
grouped[grouped['반납/대여_var']==grouped['반납/대여_var'].max()]

     반납/대여_var
자치구
중구    0.002663

In [ ]:
# 최종: 중구!!!!!