In [1]:
import numpy as np
import pandas as pd

In [2]:
kmeans = pd.read_csv("./k_means(중구, 24, 6-10, k=4)_n.csv")
diff = pd.read_csv("./중구대여반납_거치대24_group_6_10.csv")

df = pd.merge(kmeans, diff, how='left', left_on=kmeans.index, right_on=diff.index)
df

,key_0,위도_x,경도_x,cluster,대여소번호,대여수,반납수,거치대수,(반납-대여)/거치대수,위도_y,경도_y,group
0,0,37.568050,126.969231,D,300,8,19,9,1.222222,37.568050,126.969231,많음
1,1,37.568878,126.977470,C,310,2,13,8,1.375000,37.568878,126.977470,많음
2,6,37.565990,126.987793,B,332,1,12,5,2.200000,37.565990,126.987793,많음
3,8,37.569183,127.009880,A,346,4,20,12,1.333333,37.569183,127.009880,많음
4,10,37.563229,126.974838,C,370,3,41,24,1.583333,37.563229,126.974838,많음
5,14,37.563866,127.002747,A,380,3,13,10,1.000000,37.563866,127.002747,많음
6,19,37.561390,126.995354,B,390,3,17,12,1.166667,37.561390,126.995354,많음
7,26,37.560154,126.974106,C,445,4,13,10,0.900000,37.560154,126.974106,많음
8,37,37.567017,126.976837,C,4768,4,19,12,1.250000,37.567017,126.976837,많음
9,45,37.566471,126.979256,C,4796,3,11,10,0.800000,37.566471,126.979256,많음
10,9,37.565331,127.007843,B,347,1,6,20,0.250000,37.565331,127.007843,적음
11,11,37.554295,127.011200,B,372,4,5,12,0.083333,37.554295,127.011200,적음
12,12,37.560474,127.014076,B,374,7,10,12,0.250000,37.560474,127.014076,적음
13,16,37.565849,127.016403,A,383,5,10,19,0.263158,37.565849,127.016403,적음
14,20,37.566559,126.992439,C,398,4,6,10,0.200000,37.566559,126.992439,적음
15,21,37.554108,126.965408,D,399,4,1,17,-0.176471,37.554108,126.965408,적음
16,23,37.570900,127.019524,A,431,16,13,15,-0.200000,37.570900,127.019524,적음
17,24,37.566345,126.982292,C,433,6,9,12,0.250000,37.566345,126.982292,적음
18,25,37.559891,126.971497,D,441,2,6,15,0.266667,37.559891,126.971497,적음
19,28,37.564159,126.979485,C,468,3,5,10,0.200000,37.564159,126.979485,적음
20,30,37.566299,127.008492,B,474,1,7,30,0.200000,37.566299,127.008492,적음
21,31,37.567650,127.011810,A,475,3,6,16,0.187500,37.567650,127.011810,적음
22,32,37.564430,127.009956,B,476,1,2,10,0.100000,37.564430,127.009956,적음
23,33,37.559376,127.006027,B,479,3,2,13,-0.076923,37.559376,127.006027,적음
24,34,37.556770,126.973198,D,485,3,3,10,0.000000,37.556770,126.973198,적음
25,35,37.555367,126.968643,D,826,5,5,22,0.000000,37.555367,126.968643,적음
26,36,37.560246,126.968780,D,4766,1,2,18,0.055556,37.560246,126.968780,적음
27,40,37.560055,126.980942,C,4776,1,2,10,0.100000,37.560055,126.980942,적음
28,41,37.561573,126.968491,D,4782,2,1,10,-0.100000,37.561573,126.968491,적음
29,42,37.564590,126.990768,C,4784,1,3,10,0.200000,37.564590,126.990768,적음

#  데이터 불러와서 C 군집만 추출

In [3]:
df = df[df.cluster == 'C']
df = df.sort_values(by='(반납-대여)/거치대수', ascending=False)
df

,key_0,위도_x,경도_x,cluster,대여소번호,대여수,반납수,거치대수,(반납-대여)/거치대수,위도_y,경도_y,group
4,10,37.563229,126.974838,C,370,3,41,24,1.583333,37.563229,126.974838,많음
1,1,37.568878,126.977470,C,310,2,13,8,1.375000,37.568878,126.977470,많음
8,37,37.567017,126.976837,C,4768,4,19,12,1.250000,37.567017,126.976837,많음
7,26,37.560154,126.974106,C,445,4,13,10,0.900000,37.560154,126.974106,많음
9,45,37.566471,126.979256,C,4796,3,11,10,0.800000,37.566471,126.979256,많음
17,24,37.566345,126.982292,C,433,6,9,12,0.250000,37.566345,126.982292,적음
14,20,37.566559,126.992439,C,398,4,6,10,0.200000,37.566559,126.992439,적음
19,28,37.564159,126.979485,C,468,3,5,10,0.200000,37.564159,126.979485,적음
29,42,37.564590,126.990768,C,4784,1,3,10,0.200000,37.564590,126.990768,적음
27,40,37.560055,126.980942,C,4776,1,2,10,0.100000,37.560055,126.980942,적음

In [4]:
df = df.reset_index()
df['node_num'] = range(1,11)
df

,index,key_0,위도_x,경도_x,cluster,대여소번호,대여수,반납수,거치대수,(반납-대여)/거치대수,위도_y,경도_y,group,node_num
0,4,10,37.563229,126.974838,C,370,3,41,24,1.583333,37.563229,126.974838,많음,1
1,1,1,37.568878,126.977470,C,310,2,13,8,1.375000,37.568878,126.977470,많음,2
2,8,37,37.567017,126.976837,C,4768,4,19,12,1.250000,37.567017,126.976837,많음,3
3,7,26,37.560154,126.974106,C,445,4,13,10,0.900000,37.560154,126.974106,많음,4
4,9,45,37.566471,126.979256,C,4796,3,11,10,0.800000,37.566471,126.979256,많음,5
5,17,24,37.566345,126.982292,C,433,6,9,12,0.250000,37.566345,126.982292,적음,6
6,14,20,37.566559,126.992439,C,398,4,6,10,0.200000,37.566559,126.992439,적음,7
7,19,28,37.564159,126.979485,C,468,3,5,10,0.200000,37.564159,126.979485,적음,8
8,29,42,37.564590,126.990768,C,4784,1,3,10,0.200000,37.564590,126.990768,적음,9
9,27,40,37.560055,126.980942,C,4776,1,2,10,0.100000,37.560055,126.980942,적음,10

# 대여소간 거리 계산해서 가중치 행렬 만들기

In [5]:
from haversine import haversine

dist = np.zeros((10,10))
for i in range(10):
    for j in range(i+1,10):
        distance = haversine((df.위도_x[i],df.경도_x[i]), (df.위도_x[j],df.경도_x[j]), unit='km')
        dist[i][j] = distance
        dist[j][i] = distance
df_dist = pd.DataFrame(dist)
df_dist

,0,1,2,3,4,5,6,7,8,9
0,0.000000,0.669671,0.456569,0.347929,0.530650,0.742787,1.594940,0.422408,1.412244,0.643412
1,0.669671,0.000000,0.214389,1.014406,0.310481,0.509839,1.344283,0.553924,1.265321,1.027721
2,0.456569,0.214389,0.000000,0.800169,0.221624,0.486555,1.376080,0.394190,1.257171,0.854489
3,0.347929,1.014406,0.800169,0.000000,0.836338,0.997299,1.765933,0.650495,1.549331,0.602666
4,0.530650,0.310481,0.221624,0.836338,0.000000,0.267998,1.162022,0.257841,1.036048,0.728777
5,0.742787,0.509839,0.486555,0.997299,0.267998,0.000000,0.894665,0.346860,0.772149,0.709520
6,1.594940,1.344283,1.376080,1.765933,1.162022,0.894665,0.000000,1.172581,0.263810,1.245012
7,0.422408,0.553924,0.394190,0.650495,0.257841,0.346860,1.172581,0.000000,0.995718,0.474141
8,1.412244,1.265321,1.257171,1.549331,1.036048,0.772149,0.263810,0.995718,0.000000,1.002286
9,0.643412,1.027721,0.854489,0.602666,0.728777,0.709520,1.245012,0.474141,1.002286,0.000000

# tsp

In [6]:
import copy

In [7]:
data = [1,2,3,4,5,6,7,8,9,10]
n = len(data)
all_sets = []
g = {}
p = []
node = [1]

In [8]:
def main():
    for x in range(1, n):
        g[x + 1, ()] = dist[x][0]

    get_minimum(1, (2,3,4,5,6,7,8,9,10))

    print('\n\nSolution to TSP: {1, ', end='')
    solution = p.pop()
    print(solution[1][0], end=', ')
    node.append(solution[1][0])
    for x in range(n - 2):
        for new_solution in p:
            if tuple(solution[1]) == new_solution[0]:
                solution = new_solution
                print(solution[1][0], end=', ')
                node.append(solution[1][0])
                break
    print('1}')
    return

In [9]:
def get_minimum(k, a):
    if (k, a) in g:
        # Already calculated Set g[%d, (%s)]=%d' % (k, str(a), g[k, a]))
        return g[k, a]

    values = []
    all_min = []
    for j in a:
        set_a = copy.deepcopy(list(a))
        set_a.remove(j)
        all_min.append([j, tuple(set_a)])
        result = get_minimum(j, tuple(set_a))
        values.append(dist[k-1][j-1] + result)

    # get minimun value from set as optimal solution for
    g[k, a] = min(values)
    p.append(((k, a), all_min[values.index(g[k, a])]))

    return g[k, a]

In [10]:
main()

Solution to TSP: {1, 3, 2, 5, 8, 6, 7, 9, 10, 4, 1}

# 총거리 구하기

In [11]:
node.append(1)

dist_total = 0
for i in range(len(node)-1):
    dist_total += df_dist[node[i]-1][node[i+1]-1]
dist_total

4.69749468919882

In [12]:
len(df)

10

In [13]:
node

[1, 3, 2, 5, 8, 6, 7, 9, 10, 4, 1]